@model WebApplication2.ViewModels.MovieFormViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Movie</h2>
@using (Html.BeginForm("Save", "Movies"))
{
    <div class="form-group">
        <label>Name</label>
        @Html.TextBoxFor(m => m.Movies.Name, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Genre</label>
        @Html.DropDownListFor(m => m.Movies.GenreId,new SelectList(Model.Genres,"Id","Name"),"SELECT", new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Date Added</label>
        @Html.TextBoxFor(m => m.Movies.DateAdded, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Released Date</label>
        @Html.TextBoxFor(m => m.Movies.ReleaseDate, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Number of stock</label>
        @Html.TextBoxFor(m => m.Movies.NumberInStock, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(m=> m.Movies.Id)
    <button class="btn btn-primary" type="submit">Save</button>
}

