@model WebApplication2.ViewModels.NewCustomerViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Customer</h2>
@using (Html.BeginForm("Save", "Customers"))
{
    <div class="form-group">
        <label>Name</label>
        @Html.TextBoxFor(m => m.Customer.Name, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Date Of Birth</label>
        @Html.TextBoxFor(m => m.Customer.BirthDate, "{0:d MMM yyyy }", new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>MemberShip Type</label>
        @Html.DropDownListFor(m => m.Customer.MemberShipTypeId, new SelectList(Model.MemberShipTypes, "Id", "Name"), "SELECT", new { @class = "form-control" })
    </div>

    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.Customer.IsSubscribedtoNewsLetter) Subscribed to Newsletter
        </label>
    </div>
    @Html.HiddenFor(m => m.Customer.Id)
    <button type="submit" class="btn btn-primary">Save</button>
}

